<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Atractivos Turísticos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Demtal Family</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/about">Sobre nosotros</a>
            <a href="/contact">reserva</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </header>

    <main>
        <h2>Lugares Recomendados</h2>
        <ul>
            <li>Playa El Murciélago</li>
            <li>Malecón Escénico</li>
            <li>Museo del Banco Central</li>
            <li>Puerto de Manta</li>
        </ul>

        <h2>Gastronomía</h2>
        <p>Prueba el ceviche mantense, el corviche, y mariscos frescos en los restaurantes locales.</p>
    </main>


    <footer>
        <p>&copy; 2025 Dental Family</p>
    </footer>
</body>
</html>
