<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Manta Turismo y Gastronomía</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Demtal Family</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/about">Sobre nosotros</a>
            <a href="/contact">reserva</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </header>

    <main>
        <h2>Bienvenidos a Demtal Family</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint est at ullam nisi pariatur necessitatibus quos in dolores, ipsam neque id ea sequi amet culpa ex mollitia nam expedita velit!</p>
        <img src="{{ url_for('static', filename='images/manta.jpg') }}" alt="Vista de Manta" width=auto>
    </main>

    <footer>
        <p>&copy; 2025 Dental Family</p>
    </footer>
</body>
</html>
